
.menu {
    background-color: #019;
    float: left;
    width: 250px;
    font-size: 16px;
    color: white;

    left: 0;
    top: 0;
    height: 100%;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px;
    border: 1px solid #CCC;
    margin: 15px;
    cursor: pointer;
}